# Virtual environment
venv/
__pycache__/
*.pyc
*.pdb

# Compiled Python files
*.py[cod]
*$py.class

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Dependency and package directories
*.egg-info/
dist/
build/

# Miscellaneous
.DS_Store
*.log

# Project-Specific
logs.txt
cursor.json
cards.json
cards.xlsx
cards_fase.json
cards_fase.xlsx